* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #2782e3; */
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background: url('https://media.istockphoto.com/id/1385937023/vector/modern-dash-line-motion-background-abstract-design.jpg?s=612x612&w=0&k=20&c=h7ZkaLwN0aNfs45AtBHQH38MpDXL1bD7k4VTg_SP56g=');
}

.container {
    width: 520px;
    height: auto;
    margin: 100px auto;
    background-color:#9785c1;
    border-radius: 8px;
}
.base {
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: block;
    float: none;
}
.block {
    width: 135px;
    padding: 5px 20px;
    margin-left: 20px;
    display: inline-block;
}
.base h4 {
    text-align: center;
    margin-top: 0px;
    box-shadow: 0px 2px #bababa;
    background: white;
    font-size: 34px;
    color: navy;
    border-radius: 5px;
}
.title {
    font-size: 20px;
    text-align: left;
    font-family: sans-serif;
    font-weight: normal;
    line-height: 0.5;
    letter-spacing: 0.5px;
    word-spacing: 2.7px;
    color: #1073d0;
}
input[type="text"] {
    width: 140px;
    margin: auto;
    outline: none;
    min-height: 50px;
    border: none;
    padding: 12px;
    background-color: #f7f7f7;
    border-radius: 8px;
    color: #147f7c;
    font-size: 17px;
}
input[type="text"]:focus {
    background-color: #ffffff;
    border: 2px solid rgba(230, 230, 10, 0.511);
    outline: none;
}
input[type="button"] {
    width: 150px;
    margin-left: 35%;
    margin-top: 40px;
    border: none;
    border-radius: 35px;
    background-color: #1cd8a3;
    color: #ffffff;
    padding: 14px 16px;
    text-align: center;
    font-size: 16px;
}
input[type="button"]:hover {
    background-color: #072e52;
}
#age {
    display: block;
    margin: 10px;
    margin-top: 35px;
    padding: 10px;
    padding-bottom: 20px;
    overflow: hidden;
    font-family: verdana;
    font-size: 23px;
    font-weight: normal;
    line-height: 1.5;
    word-spacing: 2.7px;
    color: #d8ff00;
}